[submodule "thirdparty/AudioFile"]
	path = thirdparty/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "delia_common"]
	path = delia_common
	url = https://github.com/Melbourne-Instruments/delia_common.git
